<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ming"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="org.ming.center.MobileMusicApplication"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/launch" >

        <!-- 应用appid -->
        <meta-data
            android:name="appid"
            android:value="appid:008122551771936451" />
        <!-- 友盟开发者 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5133ff405270155b380000bd" >
        </meta-data>
        <!-- 应用渠道号 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity
            android:name=".ui.activity.PreSplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MobileMusicMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserLeadActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MusicPlayerActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="MusicPlayerActivity"
                    android:scheme="founderapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.local.LocalMusicSearchActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.local.LocalAddMusicSongListActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.local.LocalAddMusicMainActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.local.LocalMusicActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.local.LocalScanMusicActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.local.LocalAddMusicColumnActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.local.LocalSongListActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.local.LocalColumnActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <!--
        <activity
            android:name=".ui.activity.online.OnlineMusicActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".ui.activity.online.MingOnlineMusic"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.online.MusicOnlineMusicAlbumDetailActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.online.MusicOnlineInformationDetailActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.online.MusicOnlineRecommendInfoDetailActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.online.MusicOnlineMusicColumnDetailActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.online.MusicOnlineSetRingToneActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.online.MusicOnlinePlaylistActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.mymigu.MyMiGuActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.online.MusicOnlineRecommendFriend"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.online.ContactsAllActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.more.MobileMusicAboutActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.more.MobileMusicMoreActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="MobileMusicMoreActivity"
                    android:scheme="founderapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.more.MobileMusicFeedBackActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.more.TimingClosureActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait" />

        <service android:name="org.ming.center.MobileMusicService" />
        <service android:name="org.ming.center.download.DownloadService" />
        <service android:name="org.ming.center.download.DownLoadService2" />
    </application>

</manifest>